<h1>List of projects</h1>

<ul>
	<% @project_array.each do |the_project|%>
	<li>
		<a href="/projects/<%= the_project.id %>">
		<%= the_project.name %>
		</a>
      <% if the_project.description != nil %>
         <%= the_project.description %>
      <% end %>

	</li>
	<% end %>
</ul>



<a href="/projects/new">Go to add</a>