<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<ul>
  <li>
    <% if @project.name.present? %>
      <%= @project.name %> -
    <% end %>
    <% if @project.description.present? %>
      <%= @project.description %>
    <% end %>
    <% if @project.due_date.present? %>
      <%= @project.due_date %>
    <% end %>
  </li>
</ul>

</body>
</html>