.box {
	height: 150px;
	background: #654678;
/*	display: inline-block;*/
	color: red:;
}
.content{
	width: 300px;
	height:1000px;
	border: 20px;
	border-style: solid;
	border-color: blue;
	background: red;
}