<header><center>
<div class="row">
	<div class="col-sm-4 pull-left">	
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4Ytdn1lBuWHzQo4pXYAxcbc-qxm2FvanCYiJr47nlXgho-ltDSg">
	</div>
	<div class="col-sm-4 clearfix">	
		<h1><u>
			Movie Concert Network
		</u></h1>
	</div>
	<div class="col-sm-4 pull-right">	
		<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRkRQJBxQd4qjG0o4dIhnN9QJLyYcrgTyTSzIVtK-F7xBB1KhpLcg">
	</div>
</div>
</center></header>



