<center><h1><u> Welcome to Movie Trivia </u></h1></center>

<center><h3> </h3></center>

<center><h3> Enter a word to begin </h3></center>


<form action="/posters" method = "POST">
<center><input type="text" name="word" placeholder="Enter word here">

<button type = "submit"> SUBMIT </button></center>

</form>

<center> 
<img src="https://lh3.ggpht.com/IJUf-eDC31_uvEbMQQ_uUuXNZ7srr2FCxhwUrVOmLbQmHuPYeIC1vgu6O6cdjOELEHE=w300" height="600" width="600" >
</center>
