<!DOCTYPE html>
<html>
<head>
	<title>Edit Time Entries</title>
</head>
<body>

<center><h2>Time Tracking Tool</h2></center>

<h2> Edit time entry is <%= @my_project.name %> project </h2>

<%= render 'form' %>



</body>
</html>