<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<center><h2>
	Add new Time Entry
	<%= @my_project.name %>
</h2>

<h2> Create anew time entry in <%= @my_project.name %> project </h2>

<%= render 'form' %>
</center>
</body>
</html>