<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<center><h2>
	Add new Time Entry
	<%= @my_project.name %>
</h2></center>

<h2> Create anew time entry in <%= @my_project.name %> project </h2>

<%= render 'form' %>

</body>
</html>