<h1> Create your own post </h1>

<form action="/create_post" method = "POST">
<input type="text" name="Title" 
	placeholder="Title">

<input type="text" name="Text" 
	placeholder="Text">

<input type="author" name="Author" 
	placeholder="Author">

<input type="category" name="Category" 
	placeholder= "Category">

<button type = "submit"> ENTER </button>

