<h2><strong><u>Your results are as followed</u></strong></h2>

<ul><div>
		<h4>
			Original text
		</h4>
		<%= @text %>
	</div>
	<div>
		<h4>
			Numbers of Words
		</h4>
		<%= @word_count %>
	</div>
	<div>
		<h4>
			Estimated Reading Time(Per Minute)
		</h4>
		<%= @word_count / 275 %>
	</div>
	<div>
		<h4>
			Most common words used
		</h4>
		<%= @frequency %>
	</div>
</ul>






<a href="/">Back to Home</a>